@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    box-sizing: border-box;
    }
    body{
    width: auto;
    overflow-x: hidden;
    margin:auto;
    background-color: #F8FAF8;
    width: 1440px;
    height: 1024px;
  
    }
    .container-clear{
        margin:auto;
        width:100%;
        display:inline-block;
        margin-top:50px;
        align-items: center;
        text-align: auto;
    }
    .logo h1 {
    display: inline;
    color: #BC436A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
    }
    .logo{
    float:left;
    }
    