@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
background: #F8FAF8;
font-size: 18px; 
position: relative;
padding-bottom: 85px;
font-style: normal;
width: 1440px;
height: 1024px;
}
header{
    padding: 49px 128px;
    }
.conteiner-clear{
    display: block;
    position: absolute;
}
.conteiner-clear::after{
   content: url(../hw5/img/Image.png); 
   position: absolute;
   border-radius: 100%;
   width: 812px;
   top: 115px;
   z-index: -1;
   left: 50%;
}
.log{
    color: #BC436A;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header nav{
    display: block;
    position: absolute;
    margin-left: 601px; 
    margin-top: -31px;
  }
nav .active{
color: #BC436A;
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav a{
 margin-right: 40px;  
}
.block{
color: #767;
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;    
}
nav button{
display: inline-flex;
padding: 8px;
align-items: center;
gap: 10px;
background-color: #386E41;
}
nav button{
content:Book Guide;
color: #FFF;
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;   
}
section{
display: flex;
justify-content: space-between;
margin-top: 200px ; 
  
}
.test-block{
display: flex;
justify-content: flex-start;
align-items: center;
left: 120px;
}
.test-block {
 height: 98px;  
}
h1{
color: #333;
font-family: Avenir;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
span{
color: #BC436A;
font-family: Avenir;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
p{
    color: #7A7A7A;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
}
h3{
color: #767676;
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.filter-block-form .block{
 width: 1200px;
height: 100px;
flex-shrink: 0;   
}
