@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F8FAF8;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 120px;
}

.conteiner-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo {
    color: #BC436A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    float: left;
}

nav {
    padding-left: 600px;
    float: right;
}

nav a {
    display: inline-block;
    margin-right: 40px;
    color: #767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.active {
    color: #BC436A;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;

}


nav a:hover {
    color: #BC436A;
}

nav button {
    border-radius: 4px;
    background: #386E41;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;

}

section {
    /* display: block;
    align-items: center; */
    margin-left: 120px;
    width: 90%;
}

.circular-photo {
    position: relative;
    bottom: 200px;
    width: 812px;
    height: 812px;
    border-radius: 812px;
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.container {
    margin-top: 198px;
    width: 526px;
}

h1 {
    color: #333;
    font-size: 36px;
    font-weight: 800;

}

span {
    color: #BC436A;
    font-size: 36px;
}

p {
    color: #7A7A7A;
    font-size: 18px;
    font-weight: 400;

}

p::before {
    content: "";
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border: 10px solid #386E41;
    position: absolute;
    left: -55px;
    top: 520px;
}

.filter-block {
    margin-top: 230px;
}

h3 {
    color: #767676;
    font-size: 18px;
    font-weight: 400;
}

h3::after {
    content: "";
    background-image: url(../hw5/img/chevron-right.png);
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 24px;
    position: absolute;
}

.filter-block-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 1200px;
    background-color: #386E41;
    border-radius: 8px;
    position: absolute;
}

.filter-block-form select {
    border-bottom: solid 2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: white;
    width: 220px;
    margin-right: 75px;
    margin-left: 50px;

}

button {
    display: inline-flex;
    padding: 8px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #BC436A;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);
    border: none;
}

.destinations {
    margin-top: 75px;
    font-size: 18px;
    text-align: center;
    padding-top: 90px;
    position: absolute;
    left: 685px;
}

.destinations a {
    color: #767676;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.destinations ::before {
    content: "";
    background-image: url(../hw5/img/chevrons-down.png);
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 43px;
    left: 56px;
    margin-top: 75px;
}