.block{
    color: white;
    background-color: black;
    width: 200px;
   /* height:auto; */
  /* padding: ;*/
  /* padding-top:  50px; ;
  padding-right: 100px;
  padding-bottom: 80px ;
  padding-left: 100px; */
}